<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>  
        <listener class-name="util.ReportListener"></listener> 
        <listener class-name="util.RetryListener"/> 
</listeners>  
  <test thread-count="1" name="Smoke">
    <classes>
      <class name="testcases.demo.demo"/>
    </classes>	
   </test> <!-- Test -->

</suite> <!-- Suite -->
